/*#F7F0DE - light tan/yellow
#993C46 - dark red
#9999A1 - dark grey
#C5CACE - medium grey

#DD1822 - red rgb(221, 24, 34)
#7CAE6F - light green
#E1E1E3 - light grey*/
/*font-family: 'Muli', sans-serif;*/
/*font-family: 'Coustard', serif;*/

/*whole project resets*/
body,html{
	font-family: 'Muli', sans-serif
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1{
	font-size: 6em;
}

h3{
	font-size: 3em;
}

.container{
	width: 100%;
}

.center{
	text-align: center;
	margin: 0 auto;
}

.row{
	width: 100%;
}
.row > *{
  display: inline-block;
}

/*BUTTONS*/
.btn{
	padding: 10px 20px;
	font-weight: ligher;
	border-radius: 10px;
	text-decoration: none;
}

.btn.grey{
	color: #9999A1;
	background-color: #E1E1E3;
	border: 2px solid #9999A1;

}

.strawberries{
	background: url('../images/stock/strawberry.jpg')no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.bg-color{
	background-color: rgba(221, 24, 34, 0.5);
	width: 100%;
	height: 100%;
}

/*!!!!!!!!!!MAIN ABOVE SCROLL !!!!!!!!!!!!!!*/
/*main nav*/
#main-nav{
	width: 100%;
	padding: 40px;
	margin-bottom: 75px;
}

#main-nav > div:first-child{
  color: white;
  float: left;
}

#main-nav > div:nth-child(2){
	float: right;
}

.bg-img{
	width: 100%;
    height: 900px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
}



/*!!!!!!MAIN CONTENT*/
#main-content{
	width: 50%;
}

#main-content h1{
	color: white;
}

#main-content .line{
	width: 300px;
	border: 2px solid #7CAE6F;
	border-radius: 20px;
	margin: 20px auto;
}

#main-content p{
	color: white;
	margin-bottom: 30px;
	font-size: 1.20em;
	letter-spacing: 0.05em;
	line-height: 1.25em;
	font-weight: 300px;
}

/*main social media*/
.main-social > span:nth-child(even){
	border-left: 4px solid #7CAE6F;
	border-right: 4px solid #7CAE6F;
	padding: 0px 30px;
	margin: 0px 30px;
}


/*arrows*/
.arrows{
	margin-top: 40px;
}

.arrows span{
	display: block;
	margin-top: -15px;
}

.arrows span:first-child{
	color: black;
}

.arrows span:nth-child(2){
	color: grey;
}

.arrows span:nth-child(3){
	color: white;
}



/*!!!!!!!!!!!LATEST WORK!!!!!!!!!!!!*/
.latest-work{
	margin-top: -100px;
	text-align: center;
	margin-bottom: 40px;
}

.latest-work h3{
	border-bottom: 2px solid black;
	padding-bottom: 15px;
	width: 350px;
	text-align: center;
	margin: 0 auto 50px auto;
}

.latest-work .img > div{
  width: 20%;
  margin: 0 25px;
}

.latest-work img{
	width: 100%;
}




footer .shape{
	width: 100%;
    height: 500px;
    background-color: red;
    -webkit-clip-path: polygon(0 0%, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0 50%, 100% 100%, 0% 100%, 0% 100%);
}