body, html {
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

h3{
	font-size: 3em;
}

h4{
	font-size: 2.5em;
}

.row{
	width: 100%;
}

.row > div{
	display: inline-block;
	margin-left: -4px;

}

/*!!!!!80% / 20% sections with image and content!!!!!*/
.content{
	height: 100%;
}

.image{
	width: 80%;
	height: 100%;
}

.image > div{
	display: inline-block;
}

.image > div:first-child{
	width: 40%;
	height: 100%;
	position: relative;
	float: left;
}

/*down line*/
.image > div:first-child > .line{
	position: absolute;
	height: 100%;
	border-right: 2px solid black;
	right: 0;
}

.image > div:nth-child(2){
	width: 60%;
	height: 100%;
	position: relative;
	float: left;
}

.text{
	width: 20%;
	height: 100%;
}

.text > div{
	display: inline-block;
	float: left;
}

/*!!!!!!!!!!!*/
/*!!!!!main above fold!!!!!!*/
/*!!!!!!!!!!!*/
header{
	height: 80%;
}

header .image{
	background: url(../images/1.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header .image > div:first-child > div{
	width: 100%;
	height: 50%;
}

header .text > div{
	width: 100%;
	height: 50%;
}

/*!!!!!!!!!!!*/
/*second section*/
/*!!!!!!!!!!!*/
#second{
	height: 80%;
}

#second .image > div:first-child > div{
	width: 100%;
	float: left;
}

#second .image > div:first-child > div:first-child{
	height: 30%;
	background-color: red;
}

#second .image > div:first-child > div:nth-child(2){
	height: 70%;
}

#second .numbers > div{
	border-bottom: 2px solid gold;
}

#second .numbers > div > *{
	display: inline-block;
}

#second .text{
	background: url(../images/2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*!!!!!!!!!!!*/
/*!!!!!!third section*/
/*!!!!!!!!!!!*/
#third{
	height: 80%;
}

#third .image > div > div{
	width: 90%;
}

#third .image > div:first-child > div{
	float: right;
}

#third .image > div > div:first-child{
	height: 40%;
	border-bottom: 2px solid black;
}

#third .image > div > div:nth-child(2){
	height: 60%;
}


#third .bars > div{
	display: inline-block;
}

#third .bars > div .line{
	height: 10px;
	width: 0px;
	border: 2px solid black;
	margin: 0 auto 10px auto;
}

#third .bars .bar{
	width: 40px;
	height: 120px;
	background-color: gold;
	margin: 0 auto;
}


/*!!!!!!!!!!!*/
/*fourth section*/
/*!!!!!!!!!!!*/
#fourth{
	height: 80%;
}

#fourth .content > div{
	float: left;
}

#fourth .small{
	width: 32%;
	height: 100%;
	position: relative;
}

#fourth .small > div{
	width: 100%;
}

#fourth .small > div:first-child{
	height: 30%;
}

#fourth .small > div:first-child > div{
	float: left;
}

#fourth .small > div:nth-child(2){
	height: 50%;
}

#fourth .small > div:nth-child(3){
	height: 20%;
}

#fourth .big{
	width: 68%;
	height: 100%;
}

#fourth .big .container{
	height: 100%;
	text-align: center;
	background-color: #F4F5F7;
}

#fourth .big .container > div{
	width: 22%;
	height: 80%;
	display: inline-block;
	margin: 0 1%;
	background-color: white;
}

#fourth .big .img > div:first-child{
	width: 95%;
	height: 80%;
	background-color: white;
	margin: 2.5% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#fourth .big .img > div:nth-child(2){
	width: 100%;
	text-align: left;
	margin: 2.5%;
}

#fourth .big .img:first-child > div:first-child{
	background: url(../images/1.png) no-repeat center center;
}
#fourth .big .img:nth-child(2) > div:first-child{
	background: url(../images/2.jpg) no-repeat center center;
}
#fourth .big .img:nth-child(3) > div:first-child{
	background: url(../images/3.jpg) no-repeat center center;
}
#fourth .big .img:nth-child(4) > div:first-child{
	background: url(../images/4.jpg) no-repeat center center;
}


/*footer*/
footer{
	height: 80%;
}